html, body {
    margin: 0;
    padding: 0;
    color-scheme: light dark;
    background-color: light-dark(#e8d9d0, rgb(37, 37, 37));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

text {
    fill: light-dark(rgb(37, 37, 37), #e8d9d0);
    font-size: larger;
}

.title {
    font-size: 1.5rem;
    text-anchor: end;
}

.axis-title {
    font-size: 1.5rem;
    text-anchor: middle;
}
